
@media screen and (min-width: 768px) and (max-width:1159px) {
  /* 2 column styling*/
  /* convert all cells less than 50% to 50%*/
  .cell1 {
    width: calc(95vw/2);
  }
  .cell2 {
    width: calc(98vw/2);
  }
  .cell3 {
    width: calc(95vw/2);
  }
  .cell4 {
    width: calc(95vw/2);
  }

  #udacity-degree-link::before {
    visibility: hidden;
    background-color: rgb(255, 255, 255);
    border: 1px black solid;
    content: attr(data-tool-tip);
    position: absolute;
    z-index: 1000;
    margin: 0 auto;
    left: 0;
    bottom: -50px;
    width: 400px;
    border-radius: 5px;
  }

}

@media screen and (max-width:767px) {
  /* 1 column styling*/
  .cell1 {
    width: 100vw;
  }
  .cell2 {
    width: 100vw;
  }
  .cell3 {
    width: 100vw;
  }
  }